.magent-debug {
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-color: rgb(249, 249, 250);
  padding: 0 24px;

  .header {
    border-bottom: 1px solid #eee;
  }

  @media (min-width: 640px) {
    :is(.sm\:grid-cols-1) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  @media (min-width: 768px) {
    :is(.md\:grid-cols-2) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 1200px) {
    :is(.lg\:grid-cols-3) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (min-width: 1360px) {
    :is(.xl\:grid-cols-4) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  :is(.gap-x-4) {
    column-gap: 1rem;
  }

  :is(.w-full) {
    width: 100%;
  }

  :is(.grid) {
    display: grid;
  }

  .ant-card-meta-title {
    font-size: 18px;
  }

  .ant-card-meta-description {
    height: 60px;
    font-size: 14px;

    span {
      height: 60px;
      display: inline-block;
      text-overflow: ellipsis;
    }
  }
}
