.magent-dev-config {
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-color: var(--mana-color-bg-container);
  box-sizing: border-box;
  border-radius: 8px;

  &-header {
    border-bottom: 1px solid #eee;
    padding: 0 24px;
  }

  &-content {
    display: grid;
    grid-template-columns: 13fr 13fr;
    height: calc(100% - 56px);
    overflow: hidden;

    &-left {
      overflow: auto;
      padding: 12px 24px;
      border-right: 1px solid var(--mana-menubar-border);
    }

    &-right {
      overflow: auto;
      padding: 12px;
    }
  }

  .ant-card-meta-title {
    font-size: 18px;
  }

  .ant-card-meta-description {
    height: 60px;
    font-size: 14px;

    span {
      height: 60px;
      display: inline-block;
      text-overflow: ellipsis;
    }
  }
}
