pnpm-lock.yaml
**/node_modules
**/.venv

# build artifacts
**/build
**/_build
**/dist
**/coverage
**/es
packages/**/static

# generated code
**/.dumi/tmp
**/.dumi/tmp-production
**/.umi-production
**/.docusaurus
**/.umi

api/alembic


# protobuf
**/*_pb.ts
**/*_connect.ts

**/*/keyboard/layouts/**
tinyColor.less
.changeset

docker

tailwind.out.css
