.magent-tools {
  padding: 0 12px;
  height: 100%;

  .ant-list {
    height: calc(100% - 32px);
  }

  .ant-spin-nested-loading,
  .ant-spin-container,
  .ant-list-items {
    height: 100%;
  }

  .ant-list-items {
    overflow-y: auto;
  }

  .ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-content {
    width: 100%;
  }

  .tool-lists-label {
    display: flex;
    justify-content: space-between;
  }

  .ant-checkbox-wrapper {
    width: 100%;
  }
}

.tag-list-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  height: 100%;
}

.button-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.tool-lists-label-item {
  color: black;
  font-size: 16px;
  padding-bottom: 12px;
}
