@media (max-width: 768px) {
  .magent-langchain-chat-layout {
    &-container {
      padding: 0 !important;
    }
  }

  // .chat-message-main:not(.chat-message-main-ai) {
  //   .chat-message-avatar {
  //   }
  // }
}

.magent-langchain-chat-layout {
  height: calc(100vh - 16px);

  &-container {
    gap: 16px;
    box-sizing: border-box;
    padding: 12px 24px;
  }

  &-history {
    width: 260px;
  }

  &-chat {
    max-width: 100%;
  }
}
