.magent-agent-chat-layout {
  height: 100%;
}

.magent-agent-chat-layout-container {
  gap: 16px;
  box-sizing: border-box;
  padding: 12px 24px;
}

.magent-agent-chat-layout-history {
  width: 260px;
}
