.magent-agents {
  height: 100%;
  padding: 8px 24px;
  margin-top: -8px;
  overflow-y: auto;
  display: flex;
  justify-items: center;
  flex-direction: column;

  .agent-cards {
    width: 100%;
    column-gap: 1rem;
    display: grid;

    .agent-card {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  @media (min-width: 640px) {
    :is(.sm\:grid-cols-1) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  @media (min-width: 768px) {
    :is(.md\:grid-cols-2) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 1200px) {
    :is(.lg\:grid-cols-3) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (min-width: 1360px) {
    :is(.xl\:grid-cols-4) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .ant-card-meta-title {
    font-size: 18px;
  }

  .ant-card-meta-description {
    height: 60px;
    font-size: 14px;

    span {
      height: 60px;
      display: inline-block;
      text-overflow: ellipsis;
    }
  }
}

.magent-agent-avartar {
  background: #f0f0f5;
  border: 1px solid #f0f0f5;
  border-radius: 8px;
  height: 64px;
  width: 64px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
