.magent-knowledge {
  height: calc(100% - 24px);
  margin: 0 24px;
  background-color: var(--mana-color-bg-container);
  border-radius: 8px;

  &-list-header {
    padding: 0 0 0 24px;
    height: 48px;
    border-bottom: 1px solid var(--mana-color-border-secondary);

    &-label {
      display: flex;
      align-items: center;
      color: black;
      font-size: 16px;
    }

    &-label + &-label {
      padding-left: 24px;
    }
  }

  &-list {
    height: calc(100% - 48px);
    padding: 0 0 0 24px;
    box-sizing: border-box;

    &-item {
      width: 100%;

      &-col {
        display: flex;
        align-items: center;
      }
    }

    &-item + &-item {
      padding-left: 24px;
    }

    .ant-list-item {
      width: 100%;
    }
  }

  .ant-spin-nested-loading,
  .ant-spin-container,
  .ant-list-items {
    height: 100%;
  }

  .ant-list-items {
    padding-bottom: 24px;
    overflow-y: auto;
  }

  .ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-content {
    width: 100%;
  }

  .tool-lists-label {
    display: flex;
    justify-content: space-between;
  }

  .ant-checkbox-wrapper {
    width: 100%;
  }
}
